<div class="container">
    <div class="row d-flex justify-content-center mt-3 mb-3">
      <div class="col-3"><h2 class="title d-flex justify-content-center">Évènements</h2></div>
      <div class="col-6">
        <form action="">
          <div class="input-group mb-4 border rounded-pill p-1">
            <input type="search" placeholder="Rechercher.." class="form-control bg-none border-0">
            <div class="input-group-append border-0">
              <button class="btn">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-3">
        <button class="btn btnAdd" (click)="addEvent()">
          Add Event
        </button>
      </div>
    </div>
    <div class="row">
      <div class="container d-flex justify-content-center">
        <div class="row">
          <div class="col-4">
            <div class="card">
              <div class="detail">
                <img src="{{ event1.img }}" class="card-img-top" alt="..." />
    
                <div class="content m-2">
                  <h5 class="card-title">{{ event1.name }}</h5>
                  <p class="card-text">{{ event1.description }}</p>
                  <h6 class="card-text">{{ event1.date }}</h6>
                </div>
              </div>
              <div class="info">
                <div class="row">
                  <button class="btn mb-2">Liste des participants</button>
                </div>
                <div class="row">
                  <button class="btn mb-2" (click)="editEvent()">Editer</button>
                </div>
                <div class="row">
                  <button class="btn mb-2" (click)="delete()">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="detail">
                <img src="{{ event2.img }}" class="card-img-top" alt="..." />
    
                <div class="content m-2">
                  <h5 class="card-title">{{ event2.name }}</h5>
                  <p class="card-text">{{ event2.description }}</p>
                  <h6 class="card-text">{{ event2.date }}</h6>
                </div>
              </div>
              <div class="info">
                <div class="row">
                  <button class="btn mb-2">Liste des participants</button>
                </div>
                <div class="row">
                  <button class="btn mb-2" (click)="editEvent()">Editer</button>
                </div>
                <div class="row">
                  <button class="btn" (click)="delete()">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <div class="detail">
                <img src="{{ event3.img }}" class="card-img-top" alt="..." />
    
                <div class="content m-2">
                  <h5 class="card-title">{{ event3.name }}</h5>
                  <p class="card-text">{{ event3.description }}</p>
                  <h6 class="card-text">{{ event3.date }}</h6>
                </div>
              </div>
              <div class="info">
                <div class="row">
                  <button class="btn mb-2">Liste des participants</button>
                </div>
                <div class="row">
                  <button class="btn mb-2" (click)="editEvent()">Editer</button>
                </div>
                <div class="row">
                  <button class="btn" (click)="delete()">Supprimer</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>